* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: century;
}

body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 9px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputbox {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.input-wrapper {
  flex: 1;
}

.input-wrapper input,
.input-wrapper select {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.result {
  text-align: center;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.result label {
  font-size: 20px;
}

.result input {
  font-size: 20px;
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

@media (max-width: 768px) {
  .main-container {
    width: 75%;
  }

  .result input {
    font-size: 18px;
  }

  .result label {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .main-container {
    margin: auto;
    width: 90%;
  }

  .inputbox {
    flex-direction: column;
    gap: 5px;
  }

  .result {
    flex-direction: column;
    gap: 5px;
  }

  .result input {
    font-size: 16px;
  }

  .result label {
    font-size: 16px;
  }
}
