*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btnsection{
    background-color: rgb(65, 62, 62);
    width: 70vw;
    /* margin: auto; */
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 7px;
    text-align: center;
    padding: 18px;
}
button{
    margin: 5px;
    font-size: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;  
}
h1,h2{
    margin-top: 80px;
    text-align:center ;
}